@import "tailwindcss";

@theme {
  --color-primaryBlack: #0a0a0a;
  --color-gold: #d4af37;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.page-transition {
  animation: fadeIn 0.5s ease-out forwards;
}   